html{
    font-size: 5px;
}

h1{
    font-size: 3rem;
}

.box{
    font-size: 2rem;
}

.box-interno{
    width: 20rem;
    height: 20rem;
    background-color: #DDD9;
}

.box02{
    background-color: #DDDD;
    width: 25%;
    height: 400px;
}

.box02-interno{
    background-color: #CCCC;
    width: 50%;
    height: 50%;
}